---
---

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="icon" type="image/png" href="{{ site.github.owner.avatar_url }}" />
  <style>
    div.archived {
      opacity: 0.5;
      transition: all 0.3s;
    }

    div.archived:hover {
      opacity: 1;
    }

    span.archived {
      position: absolute;
      top: 0;
      right: 4px;
      text-align: right;
      color: #ff0000;
      font-weight: bold;
    }
  </style>
</head>

<body class="bg-light">
  <main class="mt-4 container shadow-lg p-3 mb-5 bg-white rounded">
    <h1 class="text-center mb-4">
      <a class="text-dark" href="https://github.com/aaronsaray" title="Go directly to Github">Aaron Saray on Github</a>
    </h1>
    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        <div class="row">
          <aside class="col-xs-12 col-md-4">
            <div class="mb-2">
              <img src="{{ site.github.owner.avatar_url }}" class="img-fluid" alt="Aaron" />
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item border-top-0">
                {{ site.github.owner.bio }}
              </li>
              <li class="list-group-item">
                <a href="https://aaronsaray.com">aaronsaray.com</a>
              </li>
              <li class="list-group-item">
                <a href="https://twitter.com/aaronsaray">@aaronsaray</a>
              </li>
              <li class="list-group-item">
                <a href="https://thedevmanager.com">TheDevManager.com</a>
              </li>
              <li class="list-group-item">
                <a href="https://morebetterfaster.io">Work with Me</a>
              </li>
            </ul>
          </aside>
          <div class="col-xs-12 col-md-8">
            {% assign sorted = site.github.public_repositories | sort: 'updated_at' | reverse %}
            {% for repository in sorted %}
            <div class="card mb-5 {% if repository.archived %}archived{% endif %}">
              <div class="card-body">
                <h5 class="card-title">
                  <a class="text-dark" href="{{ repository.html_url }}">{{
                      repository.name
                    }}</a>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  {{ repository.full_name }}
                </h6>
                <p class="card-text">
                  {{ repository.description }}
                </p>
                <a href="{{ repository.html_url }}" class="card-link">Github</a>
                {% if repository.homepage %}
                <a href="{{ repository.homepage }}" class="card-link">Homepage</a>
                {% endif %}
                <br>
                <small class="text-muted">Last updated 2019-04-05</small>
              </div>
              {% if repository.archived %}
              <span class="archived">Archived</span>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>