<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <title>Aaron Saray on Github</title>
  <meta name="description" content="Nice and simple landing page that shows Aaron's public Github repositories">
  <meta property="og:title" content="Aaron Saray on Github">
  <meta property="og:description" content="Nice and simple landing page that shows Aaron's public Github repositories">
  <meta property="og:url" content="https://aaronsaray.github.io">
  <meta property="og:site_name" content="Github.io">
  <meta property="og:image" content="https://avatars0.githubusercontent.com/u/956888">
  <meta property="og:type" content="website">
  <style>
    body {
      background: #242628;
      color: #eeeeee;
    }

    header img {
      border-radius: 50%;
      height: 4.5rem;
      width: 4.5rem;
      vertical-align: baseline;
    }

    .card {
      max-width: 30rem;
    }

    .card.archived {
      background-color: black;
    }

    .card-header>* {
      line-height: 1.4;
    }
  </style>
</head>

<body>
  <div id="app" class="container pt-4 text-center">
    <div v-if="loading" class="text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <header v-if="!loading">
      <h1 class="display-1 mb-4">
        <img src="https://avatars2.githubusercontent.com/u/956888" :alt="`${name}'s picture`">
        {{ name }}
      </h1>
      <p>
        {{ bio }}
      </p>
      <p>
        {{ location }}
      </p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="https://github.com/aaronsaray">Github</a></li>
        <li class="list-inline-item"><a href="https://aaronsaray.com">Blog</a></li>
        <li class="list-inline-item"><a href="https://morebetterfaster.io">Work with Me</a></li>
      </ul>
    </header>
    <main>
      <h2 class="display-4 mt-5">Public Repositories</h2>
      <div v-for="repo in recentRepos" :key="`repo-${repo.id}`" class="card bg-dark mx-auto my-4 text-left"
        :class="{'text-muted': repo.archived}">
        <div class="card-header">
          <span v-if="repo.archived" class="badge badge-danger float-right">archived</span>
          <h3 class="h4 text-uppercase mb-0">
            {{ repo.name }}
            <span v-if="repo.forked" class="small text-muted text-lowercase">(fork)</span>
          </h3>
        </div>
        <div class="card-body">
          <p v-if="repo.description" class="card-text">{{ repo.description }}</p>
          <p v-else class="card-text text-muted">No description.</p>
          <p class="text-muted small mb-0">Last updated {{ repo.updated }}.</p>
        </div>
        <div class="card-footer">
          <a :href="repo.url" class="card-link" :class="{'text-muted': repo.archived}">Github</a>
          <a v-if="repo.homepage" :href="repo.homepage" class="card-link"
            :class="{'text-muted': repo.archived}">Homepage</a>
        </div>
      </div>
    </main>
  </div>

  <script>
    // just really simple and fast code to read in the landing page stuff, not fault tolerant

    const mainUrl = 'https://api.github.com/users/aaronsaray';
    const reposUrl = 'https://api.github.com/users/aaronsaray/repos';

    new Vue({
      el: '#app',

      data: {
        loading: true,
        name: "",
        image: "",
        bio: "",
        location: "",
        github: "",
        blog: "",
        repos: []
      },

      created() {
        Promise.all([
          fetch(mainUrl).then(r => r.json())
            .then(data => {
              this.name = data.name;
              this.image = data.avatar_url;
              this.bio = data.bio;
              this.location = data.location;
              this.github = data.html_url;
              this.blog = data.blog;
            })
        ],
          fetch(reposUrl).then(r => r.json())
            .then(data => {
              this.repos = data.map(r => ({
                id: r.id,
                name: r.name,
                url: r.html_url,
                description: r.description,
                updated: r.updated_at,
                forked: r.fork,
                homepage: r.homepage,
                archived: r.archived
              }))
            })
        ).then(() => {
          this.loading = false;
        })
      },

      computed: {
        recentRepos() {
          return this.repos.sort((a, b) => (a.updated > b.updated ? -1 : 1))
        }
      }
    })
  </script>
</body>

</html>
